
p{
    font-size:24px;
}

#firstColumn {
    height: 80px;
    font-size: 48px;
    background-color: #000000;
    background-image: linear-gradient(to bottom, #45484d 0%,#333333 100%);
    display: flex;
    vertical-align: middle;
    align-items: center;
    border-bottom: solid 2px;
    font-family: 'Rubik', sans-serif;
}
#secondColumn {
    height: 96px;
    text-align: center;
    font-size: 32px;
    background-color: dodgerblue;
    display: flex;
    vertical-align: middle;
    align-items: center;
    border-bottom: solid 2px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a {
    color:white;
}
a:hover{
    color:black;
    text-decoration: none;
}



body {
    
    background: url(pictures/NewYork.jpg);
    
}

.card {
    opacity: .95;
    font-family: 'Rubik', sans-serif;
}

html, body {
    height: 100%;
    font-family: 'Rubik', sans-serif;
}

h5 {
    font-size: 5vh;
}   
p {
    font-weight: lighter;
}

.vertical-align {
    display: flex;
    align-items: center;
}